@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f1f7;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .animate-scale-pulse {
    animation: scale-pulse 1.5s ease-in-out infinite;
  }

  @keyframes scale-pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  .animate-spin {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

html {
  scroll-behavior: smooth;
}
/* html {
  scroll-behavior: smooth;
} */

